﻿.tblGeneral
{
	border: 1px solid black;
	width:100%;
}

.tdGeneralTitle
{
	  text-align: center;
	  background-color:#FFFAFA;
	  font-size:13pt;
	  font-family:Arial;
	  font-weight:bold;
}

.tdGeneral 
{
  border: 1px solid black; 
  text-align: center;
  width:50%;
}

.tblSeason
{
	width:100%;
}

.tdSeason
{
 
  text-align: center;
  font-family:Arial;
  font-size:12pt;
  font-weight:bold;
}

.tblWeekday
{
	width:100%;
	height:100%;
}

.tdWeekday
{
	border: 1px solid black; 
	width:15%;
	height:14.28%;
	text-align: center;
}

.tblMonth
{
	width:100%;
}
.tdMonth
{
	 border: 1px solid black; 
	 width:28%;
	 text-align: center;	
}

.tblDay
{
	width:100%;
	height:100%;
	border: 1px solid black; 
}

.tdDay
{
	width:4%;
	height:14.28%;
	border: 1px solid black; 	
	text-align: center;
	
}

.btnDay
{
	width:100%;
	text-align: center;	
	border:0px none  ; 	
	background-color:White;
	
}





